#emailBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-content {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

#closeBoxBtn {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.hidden {
  display: none;
}

.Email_coll{
        font-size: 15px;
        padding: 6px 10px;
        margin-top: 15px;
        color: rgb(15, 15, 15);
        border: 1px solid rgb(150, 150, 150);
    }